html{
  font-size:35px;
}
header{
  display:flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  margin:0 auto;
}
.artifactClass{
  font-size: 0.85rem;
  color: aliceblue;
}
.CultureClass{
  font-size: 0.5rem;
  font-style: italic;
  color: aliceblue;
}
.header {
    background-color: black;
    width:80%;
    margin:0 auto;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-decoration: none;
    font-size: 0.5rem; 
    line-height: 25px;
    border-radius: 4px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom:2px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    display:flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 500px) {
    .header{
      background-color: black;
      width:100%;
    }
    .header a {
      float:none;
      display:none;
      flex-direction: row;
      background-color: black;
      width:100%;
      justify-content: center;
      margin:0 auto;
    } 
    
    .header-right a {
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      margin:0;
    }
  }
