
.clap{
    width:30px;
    height:30px;
    margin:10px
}
p{
    display: inline;
    vertical-align: super;
    font-size:15px;
}
.heart{
    float:right;
    width:30px;
    height:30px;
    margin:10px
}
